<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TL;DR.</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
<header>
    <h1>TL;DR.</h1>
    <h3>Too Long; Didn't Read.</h3>
    <p>The forum that is still trying to turn introverts into public speakers.</p>
</header>
<div class="content">
    {% if isLoggedIn == true %}
        <div class="top-section">
            <h3><b>Logged in as:</b> {{ user.username }}</h3>
            <div class="top-container">
                <form id="logout-form" class="logout-form" action="/api/logout" method="POST">
                    <button type="submit" class="btn">Logout</button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="top-section">
            <h3>Login to your TL;DR. Account</h3>
            <div class="top-container">
                <form id="login-form" class="login-form" action="/api/login" method="POST">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username" required>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                    <button id="login-button" type="submit" class="btn">Login</button>
                </form>
            </div>
        </div>
    {% endif %}
    <h2><b>Want to see something cool?</b></h2>
    <a href="/flag">Click here to check the flag!</a>
    <h2><b>Forum</b> - Hot Threads🔥🧵</h2>
    <div class="forum">
        {% for thread in threads %}
            <h3>Thread: {{ thread.title }}</h3>
            {% for comment in thread.comments %}
                <div class="post">
                    <p>
                        <strong>{{ comment.username }}<span
                                    class="badge bg-color-{{ comment.role }}">{{ comment.role }}</span></strong>: {{ comment.text | linkify | safe }}
                    </p>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% if isLoggedIn == true %}
    <script>
        document.getElementById('logout-form').addEventListener('submit', async function (event) {
            event.preventDefault();
            const response = await fetch('/api/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            });
            const result = await response.json();
            if (result.success) {
                window.location.reload();
            } else {
                alert(result.message);
                window.location.reload();
            }
        });
    </script>
{% else %}
    <script>
        document.getElementById('login-form').addEventListener('submit', async function (event) {
            event.preventDefault();

            const loginButton = document.getElementById('login-button');
            loginButton.disabled = true;

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            try {
                const response = await fetch('/api/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({username, password}),
                });

                const result = await response.json();

                if (result.success) {
                    window.location.reload();
                } else {
                    alert(result.message);
                    document.getElementById("password").value = '';
                    loginButton.disabled = false;
                }
            } catch (error) {
                alert('An error occurred. Please try again.');
                loginButton.disabled = false;
            }
        });

    </script>
{% endif %}
</body>
</html>
